<div class="error-card-wrapper container">
    <div class="error-card">
        <h1>Помилка, щось<br> пішло не так</h1>
        <div class="error-line"></div>

        <p>Ви бачите це через те, що сторінка по вашому запиту не знайдена</p>
    </div>
</div>  
