<div class="footer-wrapper-wrapper">
    <%= image_tag  "landing.svg", :class => "footer-svg" %>
    <div class="footer-wrapper">
        <div class="footer-darken"></div>
        <div class="footer container">
            <div class="footer-content">

                <div class="footer-socials">
                    <a target="_blank" href="https://www.instagram.com/lexcinnabon/"><i class="fab fa-instagram"></i><p>Інстаграм</p></a>
                    <a target="_blank" href="https://www.facebook.com/zuck"><i class="fab fa-facebook-square"></i><p>Фейсбук</p></a>
                    <a target="_blank" href="https://twitter.com/cats"><i class="fab fa-twitter-square"></i><p>Твітер</p></a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=wpMPIvpuoyk"><i class="fab fa-youtube"></i><p>Йутуб</p></a>
                </div>

                <div class="footer-thanks">
                    <h2>Дякуємо за довіру</h2>
                    <p>Neque porro quisquam est, 
                    qui dolorem ipsum quia dolor sit amet, consectetur, 
                    adipisci velit, 
                    sed quia non numquam eius modi tempora incidunt ut labore et 
                    dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
            <p class="copyright">Агентство нерухомості Lavi 2020 - 2020</p>
        </div>
    </div>
</div>
