<div class="container up-footer">
    <h1>Продати, купити, арендувати житло - усе в одному місці</h1>
    <p>Наші відбірні та дбайливі консультанти допоможуть вам узгодити зустріч, 
    а адвокати перевірятимуть усі операції, 
    щоб усе було проведено чесно і без порушеня закону</p>
</div>