<div class="global-title">
    <div class="global-darken"></div>
    <div class="global-img"></div>
    <h1>Контакти</h1>
</div>

<div class="contacts-wrapper">
    <div class="actual-contacts-wrapper">
        <div class="actual-contacts">
            <h1>Зв'яжіться з нами</h1>
            <ul>
                <li><i class="fas fa-phone"></i> 099 221 445 12</li>
                <li><i class="fas fa-envelope"></i> lavi.mail@gmail.com</li>
                <li><i class="fas fa-map-marker-alt"></i> вул. Курсово-зданна 2б, 2 поверх</li>
            </ul>
            <div class="contact-mobile-icons">
                <a href="https://www.instagram.com/lexcinnabon/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/zuck"><i class="fab fa-facebook-square"></i></a>
                <a href="https://twitter.com/cats"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.youtube.com/watch?v=wpMPIvpuoyk"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5083.98297329095!2d22.288223730180288!3d48.63456568594976!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47391836a6c329c3%3A0xfbe21c9853a085cd!2z0KPQttCz0L7RgNC-0LTRgdGM0LrQuNC5INCd0LDRhtGW0L7QvdCw0LvRjNC90LjQuSDQo9C90ZbQstC10YDRgdC40YLQtdGC!5e0!3m2!1sru!2sua!4v1587459132114!5m2!1sru!2sua" 
     frameborder="0" style="border:0;" allowfullscreen=""
    aria-hidden="false" tabindex="0"></iframe>
</div>
<%= render "up_footer/up_footer.html.erb"%>
