<div class="global-title">
    <div class="global-darken"></div>
    <div class="global-img"></div>
    <h1>Про нас</h1>
</div>


<div class="container">
    <%= image_tag  "team.jpg" , :class => "about-team-img"%>

    <div class="about-main-pros">
        <h1>Агентство нерухомості Lavi <br>вітає вас!</h1>
        <div class="pros-list-wrapper">
            <div class="single-pros">
                <h2>Послуги <i class="fas fa-book-open"></i></h2>
                <p>Мы оказываем весь спектр  VIP-услуг по операциям с недвижимостью на высшем уровне, 
                обеспечивая защиту интересов наших клиентов и юридическую чистоту сделок для 
                каждой из сторон.<br>
                <br>
                Купля, продажа, аренда жилых помещений и коммерческих объектов в Киеве и области с 
                риэлторским агентством Park Lane проходит максимально выгодно, оперативно и 
                удобно для всех сторон.</p>
            </div>

            <div class="single-pros">
                <h2>Пропозиції <i class="fas fa-search-dollar"></i></h2>
                <p>Огромная онлайн-база предложений с информативными объявлениями, 
                квалифицированные услуги риэлторов и профессиональное сопровождение сделок 
                узкими специалистами нашего АН – это гарантия успеха 
                в любых операциях с недвижимостью столицы и пригорода Киева.</p>
            </div>

            <div class="single-pros">
                <h2>Досягненя <i class="fas fa-trophy"></i></h2>
                <p>Более 400 специалистов, множество наград в различных номинациях в международных и украинских 
                конкурсах, 6 филиалов в разных районах Киева, более 12 лет на рынке недвижимости столицы, 
                тысячи благополучных сделок, а также благодарность наших многочисленных клиентов в 
                Украине и зарубежом –<br> 
                <br>
                лучшие доказательства высокого качества сервиса агентства недвижимости Lavi.</p>
            </div>
        </div>
    </div>

</div>

<div class="property-operations-wrapper">

        <div class="property-operations-darken"></div>
        <!--Absolute vertical logo-->
        <div class="absolute-vertical-logo">
            <h1>Lavi</h1>
            <div class="three-lines">
                <span></span>
            </div>
            <div class="three-lines">
                <span></span>
            </div>
        </div>
    
    <div class="container property-operations">
        <div>
        <h1>Операції з <br>нерухомістью</h1>
            <div class="property-operations-list">
                <h3>Пропонуємо кваліфіковану<br> допомогу:</h3>

                <ul>
                    <li>консультація та пошук привабливих варіантів;</li>
                    <li>демонстрація об’єктів;</li>
                    <li>юридична консультація;</li>
                    <li>оцінка стану та риночної вартості обраних об’єктів;</li>
                    <li>збір та аналіз інформації про плани будівельних та ремонтних робіт;</li>
                    <li>збір оптимальної схеми проведеня розрахунків;</li>
                    <li>аналіз угоди на предмет відповідності юридичному законодавству України;</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%= render "up_footer/up_footer.html.erb"%>
