$ThemeColor1: #1C2341;
$ThemeColor2: #56CCF2;
$ThemeColor3: #13151F;

@mixin custom-checkbox {
    font-size: 0;
    grid-column: 1/3;
    .checkbox-label{
        font-size: 14px;
        position: relative;
        cursor: pointer;
        label{
            position: absolute;
            color: red;
            width: 300px;
            bottom: -25px;
        }
    }
    label{
        &::selection{
            background-color: transparent;
        }
        display: flex;
        position: relative;
        .checkbox-input{
        position: absolute;
        width: 0;
        height: 0;
        cursor: pointer;
        }
        .checkmark{
            margin-left: 5px;
            display: block;
            position: relative;
            width: 15px;
            height: 15px;
            background-color: $ThemeColor1;
            &:after{
                content: "";
                position: absolute;
                display: none;
                left: 5px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        .checkbox-input:checked ~ .checkmark:after {
            display: block;
        }
    }
}
.object-text-info-wrapper{
    display: flex;
    .object-data{
        width: 70%;
    }
    .object-actions{
        width: 30%;
        text-align: right;
        a{
            display: block;
            width: fit-content;
            margin-left: auto;
        }
        .suggestion-delete-btn{
            cursor: pointer;
            background-color: rgb(187, 20, 20);
            border-radius: 4px;
            width: fit-content;
            margin-left: auto;
            padding: 5px 7px;
            color: #fff;
            margin-top: 10px;
        }
    }
}
.object-small-block-wrapper{
    margin: 60px 0;
    display: flex;
    .object-small-block{
        h1,p{
            margin-bottom: 10px;
        }
        i{
            margin-right: 5px;
        }
    }
    .object-small-block:first-of-type{
        padding-right: 80px;
    }
}
.desctiption-title{
    margin: 20px 0;
}
.actions-title{
    margin: 20px 0 15px 0;
}


//Carousel

#suggestion-carousel{
    img{
        height: 400px;
    }
}


.absolute-suggestion-logo{
    display: none;
}

.checkboxes-wrapper{
    @include custom-checkbox();
}




////////////////////////////////////////////////////// Search scss


.results-title{
    font-size: calc(16px + 2vmin);
    font-weight: normal;
    margin: 100px 0 40px 0;
}

.search-form-wrapper{
    h1{
        font-weight: normal;
    }
    h1{
        font-size: calc(24px + 2vmin);
    }
    .range-inputs{
        display: flex;
        justify-content: space-between;
        .form-input-wrapper:first-of-type{
            margin-right: 20px;
        }
    }
    display: flex;
    .search-inputs-wrapper{
        max-width: 450px;
    }
    form{
        flex:1;
        padding: 50px 30px 0 10vmin;
        .form-input-wrapper{
            width: 100%;
        }
    }
    .search-image{
        position: relative;
        flex:1;
        padding-top: 50px;
        img{
            position: relative;
            z-index: 2;
            width: 100%;
            height: 250px;
        }
        .search-image-gray-block{
            position: absolute;
            z-index: 1;
            background-color: #EEEEEE;
            width: 80%;
            height: 100%;
            top: 0;
            right: 0;
        }
    }
}

.from-show-to-profile-btn{
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    color:#fff; 
    font-size: 14px; 
    border: 1px solid #fff; 
    border-radius: 5px; 
    padding: 5px;
    &:hover{
        background-color: #fff4;
    }
}

























@media screen and (max-width: 900px){
    .object-text-info-wrapper{
        flex-direction: column;
        .object-data{
            width: 100%;
            order: 2;
        }
        .object-actions{
            order: 1;
            width: 100%;
        }
    }
    .object-small-block-wrapper{
        justify-content: space-between;
        .object-small-block:first-of-type{
            padding-right: 0;
        }
    }  

    //Absolute logo
    .object-actions{
        position: relative;
    }
    .absolute-suggestion-logo{
        position: absolute;
        display: flex;
        align-items: center;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        h1{
            font-size: 32px;
            margin-right: 3px;
        }
    }
    .suggestion-logo-lines{
        height: 27px;
        width: 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .suggestion-logo-line{
            width: 100%;
            background-color: #000;
            height: 4px;
            margin: 2px 0;
        }
    }
    .suggestion-logo-lines:last-of-type{
        transform: rotate(90deg);
        margin-left: 2px;
    }
}

@media screen and (max-width: 500px){
    .object-text-info-wrapper{
        .object-actions{
            text-align: left;
            margin: 15px 0;
            a{
                margin-left: unset;
            }
            .suggestion-delete-btn{
                margin-left: unset;
            }
        }
    }
    .object-small-block-wrapper{
        flex-direction: column;
        .object-small-block:first-of-type{
            margin-bottom: 40px;
        }
    }  

    .absolute-suggestion-logo{
        display: none;
    }
}



@media screen and(max-width: 768px){
    .search-form-wrapper{
        .range-inputs{
            flex-direction: column;
            .form-input-wrapper:first-of-type{
                margin-right: 0;
            }
        }
        .search-image{
            display: none;
        }
        .search-inputs-wrapper{
            max-width: 100%;
        }
    }
}