<nav class="landing-nav">
        <!--Nav left side-->
        <div class="nav-left-block">
            <div class="logo"><h1>Lavi<h1>  <div class="burger-btn" data-clicked="false"><span></span></div></div> 
            <ul class="nav-main-menu">
                <li>
                  <a href="/">Головна</a>
                  <div class="nav-item-line"></div>
                </li>
                <li>
                  <a href="/search">Розширений пошук</a>
                  <div class="nav-item-line"></div>
                </li>
                <li>
                  <a href="/contacts">Контакти</a>
                  <div class="nav-item-line"></div>
                </li>
                <li>
                  <a href="/about">Про нас</a>
                  <div class="nav-item-line"></div>
                </li>
            </ul>
        </div>

        <!--Nav right side-->
        <div class="nav-right-block">
            <div class="nav-logged-in-wrapper">
                <a href="/profile" class="session-name"><%= @session_client.name %></a> 
                <%= link_to raw("<div class='text-icon-block'><p>Вихід</p><i class='fas fa-sign-in-alt log-out-icon'></i></div> "), logOut_path, 'data-turbolinks' => false %>
            </div>
           
        </div>
    </nav>